body {
  font-family: 'Dosis', sans-serif;
}

/**==============================
  SECTION: UTILITIES
=================================*/
button.btn {
  border-radius: 6rem;
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

input.form-check-input:checked{
  background-color: rgb(255, 193, 7);
  border-color: rgb(255, 193, 7);
}

/**==============================
  SECTION: NAVBAR
=================================*/
nav img#logo {
  max-height: 2.5rem;
  max-width: 2.5rem;
  border: 1px solid rgb(52, 58, 64);
  border-radius: 50%;
  padding: 0.1rem 0;
}

nav ul.navbar-nav {
  margin: auto auto;
}

nav li.nav-item {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

nav li.nav-item a:hover {
  color: rgb(255, 193, 7) !important;
}

/**==============================
  SECTION: BANNER
=================================*/
section#banner h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

section#banner h2 {
  font-family: 'Lobster', cursive;
  color: rgb(255, 193, 7);
  font-size: 1.5rem;
}

/**==============================
  SECTION: ORDER PLACEMENT
=================================*/
section#order-placement h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

section#order-placement div.card {
  border-radius: 4rem;
  box-shadow: 4rem 4rem rgba(255, 255, 255, 0.3);
  z-index: 2;
}

section#order-placement div#pizza-crust-selection img{
  max-width: 6rem;
  max-height: 6rem;
  padding-bottom: 0.8rem;
}

/**==============================
  SECTION: MEDIA QUERIES
=================================*/
@media screen and (max-width: 576px) {
  nav i {
    margin-left: 1rem;
  }
}