body {
  font-family: 'Dosis', sans-serif;
}

/**==============================
  SECTION: UTILITIES
=================================*/
button.btn {
  border-radius: 6rem;
  padding: 0.375rem 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.dark-theme{
  background-color: rgb(0, 0, 0);
}

div.alert{
  border-radius: 6rem;
}

input.form-check-input:checked{
  background-color: rgb(255, 193, 7);
  border-color: rgb(255, 193, 7);
}

input.form-check-input:focus {
  border-color: rgba(255, 193, 7, 0.7);
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.3);
}

/**==============================
  SECTION: NAVBAR
=================================*/
nav img#logo {
  max-height: 2.5rem;
  max-width: 2.5rem;
  border: 1px solid rgb(52, 58, 64);
  border-radius: 50%;
  padding: 0.1rem 0;
}

nav ul.navbar-nav {
  margin: auto auto;
}

nav li.nav-item {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

nav li.nav-item a:hover {
  color: rgb(255, 193, 7) !important;
}

nav i{
  cursor: pointer;
}

/**==============================
  SECTION: BANNER
=================================*/
section#banner h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

section#banner h2 {
  font-family: 'Lobster', cursive;
  color: rgb(255, 193, 7);
  font-size: 1.5rem;
}

/**==============================
  SECTION: ORDER PLACEMENT
=================================*/
section#order-placement h3, 
section#order-summary h3, 
footer h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

section#order-placement div.card {
  border-radius: 4rem;
  box-shadow: 4rem 4rem rgba(255, 255, 255, 0.3);
  z-index: 2;
  width: 75%;
}

section#order-placement div.card-dark {
  box-shadow: 4rem 4rem rgba(0, 0, 0, 0.3);
}

section#order-placement div#pizza-delivery-location,
section#order-placement div#order-summary,
section#order-placement div#redirect-to-form{
  display: none;
}

section#order-placement div#pizza-crust-selection img,
section#order-placement div#pizza-topping-selection img,
section#order-placement div#pizza-size-selection img {
  max-width: 5.5rem;
  max-height: 5.5rem;
}

section#order-placement div#pizza-crust-selection img,
section#order-placement div#pizza-topping-selection img {
  padding-bottom: 0.8rem;
}

section#order-placement input.form-control {
  border-radius: 6rem;
}

section#order-placement input.form-control:focus {
  border-color: rgba(255, 193, 5, 0.7);
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.2);
}

section#order-placement div#number-of-pizzas{
  width: 25%;
}

/**==============================
  SECTION: FOOTER
=================================*/
footer i{
  font-size: 2rem;
  cursor: pointer;
}

/**==============================
  SECTION: MEDIA QUERIES
=================================*/
@media screen and (max-width: 576px) {
  nav i {
    margin-left: 1rem;
  }
  section#order-placement div.card{
    width: 100%;
  }

  section#order-placement div#number-of-pizzas {
    width: 100%;
  }

  footer {
    text-align: center;
  }
}
